DATABASE_URL=""
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
RESEND_API_KEY=""
EMAIL_VERIFICATION_ENABLED="false"
NEXTAUTH_URL="https://your-production-url.com"
UPSTASH_REDIS_REST_URL="h"
UPSTASH_REDIS_REST_TOKEN=""
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME="Scribbles-files"
R2_PUBLIC_URL=""
#Stripe keys
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_PRICE_ID_MONTHLY=""
STRIPE_PRICE_ID_YEARLY=""
# OpenAI key
OPENAI_API_KEY = ""
# Close new registrations
REGISTRATION_ENABLED="false"